body{
    background: #fadede5b;
}

#title-todo-list{
    text-align: center;
    margin-bottom: 100px;
    width: 50%;
    color:#d8360ea2;
    border-bottom: 1px solid #d8360ebe;
    
}

#container-todo-list{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: auto;
    
}

#add-item-todo-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 3px 10px #e2bfbf;
    width: 50%;
}

#item{
    color: rgba(50, 58, 77, 0.829);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.438);
    font-weight: bold;
}

#item-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(228, 195, 195, 0.404);
    padding: 5px;
    transition: 0.5s;
}

#item-list:hover{
    box-shadow: 0px 3px 5px rgba(228, 195, 195, 0.76);
    font-size: 18pt;
    transition: 0.5s;
}


#view{
    box-shadow: 0px 3px 10px #e2bfbf;
    width: 45%;
    margin-top: 50px;
    padding: 20px;
}

#input-todo{
    width: 92%;
    padding: 5px;
    border: none;
    outline: none;
}

#btn-delete{
    border: none;
    background: rgba(190, 13, 13, 0.767);
    border-radius: 5px;
    width: 35px;
    height: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
#btn-delete:hover{
    box-shadow: 0px 3px 5px rgba(190, 13, 13, 0.575);
    transition: 0.3s;
}


#btn-adc-todo-list{
    transition: 0.5s;
    cursor: pointer;
    border: none;
    background: #d8360ea2;
    width: 34px;
    height: 19px;
    border-radius: 8px;
    outline: none;
}

#btn-adc-todo-list:hover{
    transition: 0.5s;
    width: 40px;
    height: 27px;
    border-radius: 2px;
}

#void-list{
    text-align: center;
    color:rgb(247, 136, 136)
}



/* responsivo */
@media screen and (max-width: 1024px){
    #input-todo{
        width: 87%;
        padding: 5px;
        border: none;
        outline: none;
    }
}

@media screen and (max-width: 768px){
    #input-todo{
        width: 86%;
        padding: 5px;
        border: none;
        outline: none;
    }
}

@media screen and (max-width: 425px) and (max-height: 635px){
    #input-todo{
        width: 50%;
        padding: 5px;
        border: none;
        outline: none;
    }

    #add-item-todo-list {
        width: 80%;
    }

}
